@font-face {
  font-family: "icons";
  src: url("../icons/icons.woff??3lk1bk") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif, icons;
  background-color: Canvas;
  color: CanvasText;
}

div {
  margin-top: 1em;
  display: block;
}
input {
  vertical-align: middle;
}
#confirmations {
  border-left: 1px solid GrayText;
  margin-left: 2em;
  padding-left: 0.5em;
}
