@font-face {
  font-family: "icons";
  src: url("../icons/icons.woff??3lk1bk") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: sans-serif, icons;
  font-size: 100%;
}

div {
  margin-top: 1em;
  display: block;
}
input {
  vertical-align: middle;
}
#confirmations {
  border-left: 1px solid #000;
  margin-left: 2em;
  padding-left: 0.5em;
}
