#change_header {
	width: 100%;
	text-align: center;
	pointer-events: none;
	background-color: rgba(76, 76, 76, 0.15);
}
#changelog {
	background-color: inherit;
	pointer-events: none;
	text-align: left;
}
#more, #bug {
	border: 1px solid #000;
	background-color: rgba(76, 76, 76, 0.15);
}
#more {
	border-right-style: none;
}
#more:hover, #bug:hover {
	color: #fff;
	background-color: #177ee5;
}