@font-face {
	font-family: 'icons';
	src: url('../icons/icons.woff??3lk1bk') format('woff');
	font-weight: normal;
	font-style: normal;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

body
{
	margin: 0;
	padding: 0;
	min-width: 15em;

	font-family: sans-serif, icons;
	color: -moz-FieldText;
	background-color: -moz-Field;
	border-style: none;
}

.row {
	display: flex;
	text-align: center;
	line-height: 1.4em;
	margin: 5px;
}
.indented {
	margin-right: 5px;
	margin-left: 2em;
	text-indent: -2em;
	padding-left: 2.5em;
	width: calc(100% - 4.5em -5px);
	border-left: thin solid  -moz-FieldText;
	text-align: start;
}
.session {
	margin-top: 1px;
	margin-bottom: 1px;
}
.session:hover {
	box-shadow: 0px 0px 5px  -moz-FieldText;
}
input {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	background-color: inherit;
	
	text-align: start;
	line-height: inherit;
	cursor: inherit;
	margin: 1px;
	vertical-align: middle; 
	border-style: none;
	box-shadow: 0px 0px 1px -moz-FieldText;
}
input[type=button]:hover {
	color: -moz-MenuHoverText;
	background-color: -moz-MenuHover;
	box-shadow: 0px 0px 5px -moz-FieldText;
}
#name_input {
	flex: 1;
	min-width: 10em;
}

#bookmarks {
	margin-top: 5px;
	margin-bottom: 5px;
}

.restore_button {
	flex: 1;
}

.delete_button[type=button]:hover {
	color: white;
	background-color: red;
}

.override_button[type=button]:hover {
	color: white;
	background-color: red;
}

.moving {
	cursor: grabbing;
}
.drop_over:hover {
	box-shadow: 0px -1px 0px -moz-MenuHover;
	cursor: grabbing;
}
.drop_under:hover {
	box-shadow: 0px 1px 0px -moz-MenuHover;
	cursor: grabbing;
}
.drop_over > input[type=button]:hover
, .drop_under > input[type=button]:hover {
	color: inherit;
	background-color: inherit;
	box-shadow: 0px 0px 1px -moz-FieldText;
}

#warning {
	border: 3px solid red;
	padding: 5px;
}

#confirmation {
	position: absolute;
	color: white;
	background-color: red;
	text-align: center;
}

#welcome {
	background-color: inherit;
	pointer-events: none;
	text-align: left;
}
.spacer {
	flex: 1;
	white-space: pre;
}

.hidden {
	visibility: hidden;
}

