* {
	border-style: none;
}

#create {
	display: flex;
}
#create:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
#name_input {
	background-color: inherit;
	border-style: none;
	flex: 1;
}
#save:hover {
	background-color: rgba(0, 0, 0, 0.25);
}

input {
	background-color: inherit;
	cursor: inherit;
}

.session {
	width: 100%;
	display: flex;
}
.session:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.restore_button{
	flex: 1;
}
.restore_button:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
.delete_button:hover {
	background-color: red;
}
.override_button:hover {
	background-color: orange;
}
.restore_here_button:hover {
	background-color: orange;
}

.moving {
	border: 1px, dashed, black;
	background-color: rgba(0, 0, 0, 0.05);
}
.drop_over {
	border-top: 3px solid black;
	cursor: move;
}
.drop_under {
	border-bottom: 3px solid black;
	cursor: move;
}

#warning {
	border: 3px solid red;
	padding: 5px;
}