* {
	border-style: none;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

#create {
	display: flex;
	border: 1px solid black;
	margin-bottom: 5px;
}
#name_input {
	flex: 1;
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: rgba(76, 76, 76, 0.3);
}
#save {
	border-left: 1px solid black;
	background-color: rgba(76, 76, 76, 0.15);
}
#save:hover {
	color: #fff;
	background-color: #177ee5;
}

input {
	background-color: inherit;
	cursor: inherit;
}

.session {
	width: 100%;
	display: flex;
	border: 1px solid transparent;
	margin-bottom: 3px;
	margin-top: 3px;
}
.session:hover {
	border: 1px solid black;
	background-color: rgba(76, 76, 76, 0.15);
}

.restore_button {
	flex: 1;
}

.restore_button:hover {
	color: #fff;
	background-color: #177ee5;
}
.delete_button:hover {
	color: #fff;
	background-color: red;
}
.override_button:hover {
	color: #fff;
	background-color: orange;
}
.restore_here_button:hover {
	color: #fff;
	background-color: orange;
}

.moving {
	border: 1px solid black;
	background-color: rgba(179, 179, 179, .3);
}
.drop_over:hover {
	border-top: 3px solid #177ee5;
	background-color: inherit;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	cursor: move;
}
.drop_under:hover {
	border-bottom: 3px solid #177ee5;
	background-color: inherit;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	cursor: move;
}
.drop_over > .restore_button:hover
, .drop_under > .restore_button:hover
, .drop_over > .delete_button:hover
, .drop_under > .delete_button:hover
, .drop_over > .override_button:hover
, .drop_under > .override_button:hover
, .drop_over > .restore_here_button:hover
, .drop_under > .restore_here_button:hover {
	color: inherit;
	background-color: inherit;
}

#warning {
	border: 3px solid red;
	padding: 5px;
}

#welcome {
	background-color: inherit;
	pointer-events: none;
	text-align: left;
}

.footer {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	background-color: rgba(76, 76, 76, 0.15);
}
#name {
	flex: 1;
	text-align: center;
	margin-left: 0.5em;
	margin-right: 0.5em;
	pointer-events: none;
	background-color: rgba(76, 76, 76, 0.15);
}
#settings, #version, #back {
	border: 1px solid black;
	background-color: rgba(76, 76, 76, 0.15);
}
#settings:hover, #version:hover, #back:hover {
	color: #fff;
	background-color: #177ee5;
}